:root{
    --general-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);

    --one:rgb(4, 96, 133);
    --two:rgb(11, 102, 106);
    --three:rgb(53, 162, 159);
    --four:rgb(151, 254, 237);
    --white: rgb(255,255,255);
    --black:rgb(0,0,0);
    --gray:rgb(201, 201, 201);
    --red:rgb(215, 0, 64);

    /*size*/

    --general-size-modals: 200px;

}

/*DarkMode*/

body{
    transition: background-color 5s, color 5s;
}
.body__DarkMode{
    --general-shadow: 0 0.5rem 1rem rgba(112, 111, 111, 0.15);

    --one:rgb(2, 36, 51);
    --two:rgb(5, 104, 109);
    --three:rgb(28, 91, 89);
    --four:rgb(23, 58, 51);
    --white: rgb(18, 18, 18);
    --black:rgb(255, 255, 255);
    --gray:rgb(65, 65, 65);
    --red:rgb(215, 0, 64);
    --background-modal:rgb(0,0,0, 0.5);


}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

/*Navbar*/

.headMain{
    z-index: 1;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0rem 0.5rem;
    transition: background-color 0.5s, height 0.5s;
    cursor: default;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
}

.headMain__scrollY{
    background-color: var(--white);
    box-shadow: var(--general-shadow);
    height: 70px;
}

.links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding-left: 2rem;
}

.links_color{
    color: var(--white);
}

.iconStore{

    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.iconStore span{
    color: var(--black);
    font-weight: bold;
    font-size: 18px;
}

.homeProductNavbar{
    display: none;
    width: auto;
}

.homeProductNavbar .linksHNavbar{
    text-decoration: none;
    transition: color 0.2s, font-weight 0.2s;
}

.homeProductNavbar .linksHNavbar:hover{
    color:var(--three);
    font-weight: bold;
}

.linksHNavbar{
    color:var(--black);
}

.bxl-play-store{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--three);
    font-size: 25px;
    align-self: center;
    color: var(--white);
    text-align: center;
    padding-top: 0.4rem;
}

.darkModeCart{
    width: 50%;
    height: 100%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    padding-right: 1.5rem;
    position: relative;
    gap:0.5rem
}

.darkModeCart .bxs-sun{
    display: none;
    transition: display 0.3s;
}

.darkModeCart .bxs-moon{
    display: block;
    transition: display 0.3s;
}

.darkModeCart .bxs-sun__unshow{
    display: block;
}

.darkModeCart .bxs-moon__show{
    display: none;
}


.darkModeCart i{
    cursor: pointer;
}

.amountProductNav{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    
    color: var(--black);
    display: inline-block;
    border-radius: 50%;
    background-color: var(--three);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3rem;
    top:2rem;
    font-weight: bold;
    transition: top 0.5s;
}

.amountProductNav__scrollY{
    top:2.2rem;
}

/*products*/

.principalContainer{
    max-width: 1024px ;
    min-height: 100vh;
    background-color: var(--four);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width:1024px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 5rem;
    gap: 4rem;
}

/*section PageCover*/

.pageCover{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.showCase{
    height: 60%;
    display: flex;
}

.none{
    width: 50%;
    height: 100%;
}

.imgShowCase{
    background-color: var(--one);
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.imgShowCase img{
    width: 100%;
    display: block;
}

.info__showCase{
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap:1rem;
}

.titleShowCase{
    font-size: 30px;
    font-weight: bold;
}

.InfoShowCase{
    font-weight: lighter;
    font-size: 17px;
    line-height: 1.2;
    color: var(--black);
    opacity: 0.6;
    
}

.priceShowCase{
    font-size: 24px;
    font-weight: bold;
    color: var(--two);
}

.btnShowCase{
    padding: 1rem;
    text-decoration: none;
    background-color: var(--one);
    color: var(--black);
    font-weight: bold;
    text-align: center;
    width: 140px;
    transition: transform 0.3s;
}

.btnShowCase:hover{
    transform:scale(1.1) ;
}

/*section Products*/

/*filter*/

.filter{
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 4rem;
}

.filterButtons{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap:1rem;
    width: 80%;
    justify-content: center;
}

.filterButtons > .btn{
    padding: 1rem;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--two);
    color: var(--white);
    transition: background-color 0.5s;
    border-radius:0.5rem;
} 

.filterButtons .btn span{
    color:var(--white);
}

.filterButtons .btn:hover{
    background-color: var(--one);
    cursor: pointer;
}

.btn span:hover{
    color:var(--white);
}

.filterButtons span{
    font-size: 13px;
    font-weight: normal;
}

/*products*/
.showProducts{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
}

.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    gap:2rem;
    padding: 0rem 2rem;
}

.card__product{
    background-color: var(--white);
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    cursor: default;
    gap: 0.5rem;
    overflow: hidden;
}

.product__image{
    background-color: var(--gray);
    width: 100%;
    padding: 1rem;
}

img{
    width: 100%;
    display: block;
}

.product__info{
    height: 85px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:0.7rem;
    padding: 0 1rem 1rem 1rem;
}

.product__info .priceProduct p{
    align-self: center;
    width: 100%;
}

.product__info .product__description{
    cursor: pointer;
    transition: color 0.3s;
}

.product__info .product__description:hover{
    cursor: pointer;
    color:var(--three)
}

.price__stock h3{
    display: grid;
    grid-template-columns: 60px 80px 80px;
    gap:0.5rem;
}

.priceProduct .bx-plus{
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--four);
    color: var(--black);
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top:-1.5rem;
    right: 1rem;
    transition:background-color 0.3s, font-weight 0.3s, color 0.3s;
    cursor: pointer;
}

.priceProduct .bx-plus:hover{
    background-color: var(--two);
    color: var(--white);
}

.priceProduct .quantityProduct{
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    color: var(--black);
    opacity: 0.7;
}

.price__stock .soldOut{
    max-width: 100px;
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 0.5rem;
    text-align: center;
}

/*footer*/

footer{
    width: 100%;
    height: 50rem;
    background-color: var(--two);
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap:3rem;
    cursor: default;
}

.infoFooter{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.info__Footer{
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info__Footer h3{
    color:var(--four);
    font-size: 20px;
}

.info__Footer a{
    text-decoration: none;
    color: var(--four)
}

.info__Footer a:hover{
    text-decoration: none;
    color: var(--white);
}

.authorApi{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.authorPage{
    background-color: var(--three);
    padding: 1rem;
    text-align: center;
    font-weight: bold;

}

.authorPage a{
    text-decoration: none;
    color: var(--four);
    font-weight: bolder;
    transition: color 0.2s;
}

.authorPage a:hover{
    color: var(--white);
}

.apiUsed{
    background-color: var(--three);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.apiUsed a{
    text-decoration: none;
    color: var(--four);
    font-weight: bolder;
    transition: color 0.2s;
}

.apiUsed a:hover{
    color: var(--white);
}


/*Cart*/

.cartContent{
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transform: translate(100%);
    transition: transform 0.5s;
}

.cartContentShow{
    transform: translate(0);
}

.productsCart{
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-rows: 20px calc(100% - 20px);
    place-items: center;
}

.productsCart > p{

    width: 20px;
    height: 20px;
    font-weight: bold;
    justify-self: flex-end;
    align-self: flex-start;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.productsInCart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap:1rem;
    overflow-y: scroll;
}

.productInCart{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--general-shadow);
}

.img__cart{
    width: 40%;
    background-color: var(--gray);
    border-radius: 1rem;
}

.info__cart{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    gap:0.3rem;
}

.info__cart h4{
    color:var(--black);
}

.info__cart p{
    color:var(--black);
    opacity: 0.6;
}

.options__unit i {
    cursor: pointer;
    color: var(--two);
    font-weight: bold;
    
}

.options__unit span{
    color: var(--black);
}

.options__unit i:hover{
    color: var(--four);
}

.purchaseCart{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.info__purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.info__purchase span{
    font-weight: bold;
}


.purchaseCart .btn{
    height: 40%;
    margin-bottom: 2rem;
}

.btn__buy{
    padding: 1rem;
    background-color: var(--three);
    color: var(--white);
    border: none;
    border-radius:0.5rem ;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bolder;
    transition: background-color 0.3s;
}

.btn__buy:hover{
    background-color: var(--two);
    cursor: pointer;
}

/*modals*/

/*menuquery > 700px*/

.menuQuery{
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 60px 1fr;
    place-items: center;
    transform: translate(100%);
    transition: transform 0.5s;
}

.menuQuery p{
    justify-self: flex-end;
    position: relative;
    top: 0.2rem;
    right: 2.2rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.menuQuery__show{
    transform: translate(0%);
}

.homeProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}

.homeProduct a{
    padding: 1rem;
    font-size: 20px;
    font-style: none;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 0.5rem;
    box-shadow: var(--general-shadow);
    color: var(--black);
}

/*modal Product*/

.modalProduct{
    z-index:4;
    position: fixed;
    background-color: rgb(0,0,0, 0.5);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0.3s, opacity 0.3s;
}

.modalProduct__show{
    visibility: visible;
    opacity: 1;
}

.modalProduct .bx-x{
    background-color: var(--black);
    color: var(--white);
    width: 25px;
    height: 25px;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
}

.productInModal{
    position: relative;
    background-color: white;
    max-width: 400px;

    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.imgModal{
    height: 70%;
    display: flex;
}

.infoModal{
    height:calc(30% - 25px) ;
    gap:1rem;
    display: flex;
    flex-direction: column;
}

.descriptionModal{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.descriptionModal h4{
    font-weight: bolder;
    font-size: 20px;
}

.descriptionModal p{
    font-weight:lighter;
    font-size: 14px;
    line-height: 1.5;
}

.priceAdd{
    display: grid;
    grid-template-columns: 70px 1fr 80px;
    place-items: center;
    gap:1rem;

}

.priceAdd i{
    background-color: var(--four);
    color: var(--black);
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: flex-start;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition:background-color 0.3s, color 0.3s;
}

.priceAdd i:hover{
    background-color: var(--two);
    color: white;
}

.priceModal{
    font-weight: bold;
    font-size: 20px;
}

.stockModal{
    font-weight: bold;
}

.priceAdd .soldOut{
    color: white;
    background-color: red;
    justify-self: flex-start;
    font-weight: bold;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 0.5rem;
}

/*loading modal*/

.modalLoading{
    z-index: 5;
    display: block;
    position: fixed;
    top:0;
    right: 0;;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    display: grid;
    place-items: center;
    transition: display 0.2s;
}

.load{
    border: 5px solid var(--black);
    border-top-color:transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    animation: loadingP 0.5s infinite linear;
}

@keyframes loadingP{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}

.modalLoading__unshow{
    display: none;
}


/*querys*/


@media (min-width: 700px){

    .principalContainer{
        max-width: 100vw;
    }

    .pageCover{
        width: 100%;
    }

    .links{
        width: 50%;
        gap:1rem;
    }

    .darkModeCart{
        width: 50%;
    }

    .iconStore{
        width: auto;
    }

    .homeProductNavbar{
        display: flex;
        width: auto;
        gap:0.5rem;
    }

    .bx-menu-alt-right{
        visibility: hidden;
    }

    .pageCover{
        flex-direction: row-reverse;
        align-items: center;
    }

    .none{
        display: none;
    }

    .showCase{
        width: 40%;
        height: 100%;
    }

    .imgShowCase{
        width: 100%;
    }

    .info__showCase{
        width: 60%;
        height: 100%;
        justify-content: center;
    }

    .titleShowCase{
        font-size: 40px;
    }

    footer{
        height: 30rem;
    }

    .infoFooter{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0rem 2rem;
    }

    .cartContent{
        width: 50vw;
    }
};

/* @media (min-width: 1000px){
    .principalContainer{
        max-width: 100vw;
    }
    
    .card__product{
        background-color: var(--two)
    }
}; */