:root{
    --general-color: #ffffff;
    --general-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.15);

    /*size*/

    --general-size-modals: 200px;
}

*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Navbar*/

.headMain{
    z-index: 1;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0rem 0.5rem;
    transition: background-color 0.5s, height 0.5s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
}

.headMain__scrollY{
    background-color: white;
    box-shadow: var(--general-shadow);
    height: 70px;
}

.links{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding-left: 2rem;
}

.iconStore{

    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
}

.bxs-universal-access{
    width: 30px;
    height: 30px;
    font-size: 25px;
    align-self: center;
}

.darkModeCart{
    width: 30%;
    height: 100%;

    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
    padding-right: 1.5rem;
    position: relative;
    gap:0.5rem
}

.amountProductNav{
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    
    color: white;
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(244, 8, 8, 0.841);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3rem;
    top:2rem;
    font-weight: bold;
    transition: top 0.5s;
}

.amountProductNav__scrollY{
    top:2.2rem;
}

/*products*/

.principalContainer{
    max-width: 1024px;
    min-height: 100vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width:1024px;
    height: auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/*section PageCover*/

.pageCover{
    background-color: lightseagreen;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.showCase{
    height: 50%;
    background-color: orange;
    display: flex;
}


.none{
    width: 50%;
    height: 100%;
    background-color: red;
    padding-top: 60px;
}

.imgShowCase{
    background-color: blue;
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    margin: 0 auto;
    padding-top: 60px;
}

.imgShowCase img{
    width: 100%;
    display: block;
}


.info__showCase{
    height: 50%;
    background-color: lightgray;
}

/*section Products*/
.showProducts{
    width: 100%;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0rem;
}

.filter{
    background-color: aqua;
    width: 100%;
    height: 20px;
}

.products{
    background-color: rgba(81, 81, 81);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    gap:1rem;
    padding: 0rem 2rem;
}

.card__product{
    background-color: white;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
    cursor: default;
    gap: 1rem;
    overflow: hidden;
}

.product__image{
    background-color: lightgray;
}

img{
    width: 100%;
    display: block;
}

.product__info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:0.7rem;
    padding: 0 1rem 1rem 1rem;
}

.product__info .priceProduct p{
    align-self: center;
    width: 100%;
}

.product__info .product__description{
    cursor: pointer;
}

.price__stock h3{
    display: grid;
    grid-template-columns: 70px 1fr 80px;
    gap:0.5rem;
}

.priceProduct .bx-plus{
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    position: absolute;
    top:-2rem;
    right: 1rem;
    
}

.priceProduct .quantityProduct{
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    color: rgb(99, 99, 99);
}

.price__stock .soldOut{
    max-width: 100px;
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 0.5rem;
    text-align: center;
}

footer{
    width: 100%;
    height: 50rem;
    background-color: lightgreen;
}

/*Cart*/

.cartContent{
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--general-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transform: translate(100%);
    transition: transform 0.5s;
}

.cartContentShow{
    transform: translate(0);
}

.productsCart{
    width: 100%;
    height: 80%;

    display: grid;
    grid-template-rows: 20px calc(100% - 20px);
    place-items: center;
}

.productsCart > p{

    width: 20px;
    height: 20px;
    background-color: red;
    justify-self: flex-end;
    align-self: flex-start;
    position: relative;
    text-align: center;
}

.productsInCart{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap:1rem;
    overflow-y: scroll;
}

.productInCart{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--general-shadow);
}

.img__cart{
    width: 40%;
    background-color: #ccc;
    border-radius: 1rem;
}

.info__cart{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    gap:0.3rem;
}

.options__unit i {
    cursor: pointer;
}

.options__unit .bx-trash-alt{
    color: red;
}

.purchaseCart{
    width: 100%;
    height: 20%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.info__purchase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.purchaseCart .btn{
    height: 40%;
    margin-bottom: 2rem;
}

.btn__buy{
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius:0.5rem ;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bolder;
}

/*modals*/

/*menuquery > 700px*/

.menuQuery{
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: var(--general-color);
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    grid-template-rows: 60px 1fr;
    place-items: center;
    transform: translate(100%);
    transition: transform 0.5s;
}

.menuQuery p{
    justify-self: flex-end;
    position: relative;
    top: 0.2rem;
    right: 2.2rem;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.menuQuery__show{
    transform: translate(0%);
}

.homeProduct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}

.homeProduct a{
    padding: 1rem;
    font-size: 20px;
    font-style: none;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 0.5rem;
    box-shadow: var(--general-shadow);
    color: black;
}

/*modal Product*/

.modalProduct{
    z-index:4;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0.3s, opacity 0.3s;
}

.modalProduct__show{
    visibility: visible;
    opacity: 1;
}

.modalProduct .bx-x{
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
}

.productInModal{
    position: relative;
    background-color: white;
    max-width: 400px;

    border-radius: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.imgModal{
    height: 70%;
    display: flex;
}

.infoModal{
    height:calc(30% - 25px) ;
    gap:1rem;
    display: flex;
    flex-direction: column;
}

.descriptionModal{
    display: flex;
    flex-direction: column;
}

.descriptionModal h4{
    font-weight: bolder;
    font-size: 20px;
}

.descriptionModal p{
    font-weight:lighter;
    font-size: 14px;
    line-height: 1.5;
}

.priceAdd{
    display: grid;
    grid-template-columns: 70px 1fr 80px;
    place-items: center;
    gap:1rem;

}

.priceAdd i{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: flex-start;
    display: grid;
    place-items: center;
}

.priceModal{
    font-weight: bold;
    font-size: 20px;
}

.stockModal{
    font-weight: bold;
}

.priceAdd .soldOut{
    color: white;
    background-color: red;
    justify-self: flex-start;
    font-weight: bold;
    padding: 0.3rem;
    font-size: 15px;
    border-radius: 0.5rem;
}

/*loading modal*/

.modalLoading{
    z-index: 5;
    display: block;
    position: fixed;
    top:0;
    right: 0;;
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    transition: display 0.2s;
}

.load{
    border: 5px solid black;
    border-top-color:transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    animation-duration: 10s;
    animation-name: loadingP;
}

@keyframes loadingP{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(340);
    }
}

.modalLoading__unshow{
    display: none;
}

/*querys*/

@media (min-width: 500px){
    .principalContainer{
        background-color: blue;
    }
}

@media (min-width: 700px){
    .principalContainer{
        background-color: purple;
    }
}